#page-footer {
    text-align: center;
}

#main-container {
    margin-top: 60px;
}

#profile-type{
    position: relative;
    left: 10px;
}
#profile-photo{
    position: relative;
    left:-20px;
    top: 0px;
}
#profile-info{
    position: relative;
    left: -20px;
    top: 15px;
    text-align:left;
    line-height: 1.28;
    color: #1D2A5B;
    font-size: 14px; 
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#profile-create-btn{
    width: 150px;
    position: relative;
    left: 40px;
}

.group-item {
    position: relative;
    margin-top: 10px;
}

.user-squre-item{
    width: 45px;

}

.work-ban{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    background: #EEE;
    padding: 5px;
    height: 50px;
    width:100%;
}

.member-ban{
    list-style-type:none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    background: #EEE;
    padding: 5px;
    height: auto;
    min-height:200px;
    width: 100%;
}

.member-holder{
    margin:5px;
    padding: 5px;
    width:100px;
    height: 1.5em;
    line-height:1.2em;
}
