#paikebody{
	background-image: url('img/backgroundyellow.jpeg');
}
#homepage-banner{
	background-image: url('img/backgroundsnow.jpg');
	background-repeat: repeat-y;
	height: 70px;
	width: 100%;
	margin: 3px;
    padding: 5px;
}
#paiketitle{
	text-align: center;
	font-size: xx-large;
	color: white;
	padding-top: 25px;
	
}
#registbody{
	padding: 10px;
}
#registbtnpos{
	position: relative;
	left: 200px;
	top: 0px;	
}
.table{
	position: relative;
	left: -50px;
	top: 20px;	
}