<div class="row">
  <div class="well span5 group_info_background">
    <header>
      <h4 class="paiyiba_label">工作</h4>
      <div class="form-search" style="padding-top:20px;">
	<label for="schedule-name" class="label label-info">安排名称</label>
	<input type="text" id="schedule-name" class="input-xlarge"/>
      </div>
    </header>
    {% include "/Work/squre_list.html" %}
  </div>

  <div class="well span2 pull-right group_info_background">
    <header>
      <h4 class="paiyiba_label">人员</h4>
      <hr/>
    </header>
    {% include "/User/squre_list.html" %}
  </div>
</div>
