<header class="navbar navbar-fixed-top">
    <div class="navbar-inner" id="page-header">
      <div class="container" >
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{HOST_URL}}" class="brand page-header-font-white">排客Paike</a>
        <div class="nav-collapse">

          <form id="search-form" class="navbar-search pull-left">
            <input type="text" name="search-key" placeholder="Search" class="search-query span3 page-header-search"/>
            <button id="search" class="btn btn-success">搜索小组</button>
          </form>          
          <ul class="nav pull-right">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle page-header-font-white" href="#" >账号管理<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{HOST_URL}}">个人主页</a></li>
                <li><a href="#">修改信息</a></li>
                <li class="divider"></li>
                <li><a href="{{HOST_URL}}/account/logout">登出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>
