<header id="page-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <nav class="container-fluid">
      <a class="brand"> 
	每日笑话
	<img src="/ppt/static/img/favicon24.png"/>
      </a>
      <ul class="nav">
	<li>
	  <a id="homepage" href="/ppt/">
	    <i class="icon-white icon-home"></i>
	    首页
	  </a>
	</li>
	<li class="divider-vertical"/>
	<li>
	  <a id="about-us">
	    <i class="icon-white icon-user"></i>
	    关于我们
	  </a>
	</li>
	<li class="divider-vertical"/>
	<li>
	  <a id="joke-post">
	    <i class="icon-white icon-pencil"></i>
	    我要讲笑话
	  </a>
	</li>
      </ul>
    </nav>
  </div>
</header>
