<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta author="Further Lee" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="/ppt/static/img/favicon.png" rel="shortcut icon" />
    <link href="/ppt/static/style/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/ppt/static/style/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
    <link href="/ppt/static/style/common.css" rel="stylesheet" type="text/css" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include '/layout/header.html'%}
    <div class="container-fluid">
    <div class="row-fluid">    
    <div class="span9">
    {% block content %}
    
    {% endblock %}
    </div>
    {% include '/layout/sidebar.html' %}

    </div>
    </div>
    <hr/>    
    {% include '/layout/footer.html' %}

    {% block aboutUs %}
    <div id="about-modal" title="关于我们">
      <img src="/ppt/static/img/hero-huge.jpg"/>
    </div>
    {% endblock %}

    <script type="text/javascript" src="/ppt/static/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/ppt/static/scripts/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/ppt/static/scripts/jquery.autoresize.js"></script>
    <script type="text/javascript" src="/ppt/static/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="/ppt/static/scripts/mustache.js"></script>
    <script type="text/javascript" src="/ppt/static/scripts/core.js"></script>
    <script type="text/javascript" src="/ppt/static/scripts/widgets.js"></script>

    {% block js %}
    
    {% endblock %}
  </body>
</html>
