{% extends "/layout/frame.html" %}

{% block css %}
<link rel="stylesheet" href="{{CSS_HOME}}register.css" />
<link rel="stylesheet" href="{{CSS_HOME}}homepage.css" />
{% endblock %}
{% block body %}
<div  class="navbar">
    <div id="homepagenvbar" class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="#" id="homepagefont1" class="brand">排客Paike</a>
        <div class="nav-collapse">

          <form action="" class="navbar-search pull-left">
            <input type="text" placeholder="Search" class="search-query span2">
          </form>          
          <ul class="nav pull-right">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">账号管理<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">个人主页</a></li>
                <li><a href="#">修改信息</a></li>
                <li class="divider"></li>
                <li><a href="#">登出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /navbar-inner -->
  </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{JS_HOME}}register.js"></script>
{% endblock %}
