{% extends "/layout/frame.html" %}
{% block css %}
<link rel="stylesheet" href="{{CSS_HOME}}register.css"/>
<link rel="stylesheet" href="{{CSS_HOME}}login.css" />
{% endblock %}
{% block body %}
<div class="span12" id="homepage-banner" >
  <header id="paiketitle">排客方便生活</header>
</div>
<div id="registbody">
  <div class="container">
    <div class="row">
      <div class="span6">
	<a class="thumbnail">
	  <img height="300" width="500" src="{{IMG_HOME}}people.jpg"/>
	</a>
      </div>
      <div class="span6">
	<div>
   	  <div>
   	    <header id="login_title"> 成为排客一员</header>
   	    <p id="login_content">排客是一个方便社团以及各种组织排班的网站，成为排客一员享受我们为您带来的高质量服务，李诗剑欢迎您的到来！</br></br></br></p>
   	  </div>   
	  <div class="table">
	    <form id="login-form" class="form-horizontal">
	      <fieldset>
		<div class="control-group">
		  <label for="email" class="control-label">邮箱地址</label>
		  <div class="controls">
	            <input type="text" placeholder="Example@example.com" name="email" class="input-xlarge focused"/>
		  </div>
		</div>
		<div class="control-group">
		  <label for="password" class="control-label">密码</label>
		  <div class="controls">
              	    <input type="password" placeholder="*****" name="password"  class="input-xlarge focused"/>
		  </div>
		</div>
		<div id="registbtnpos">
		  <button class="btn btn-success pull-left btn-large" id="submit" type="submit">登陆</button>
		  <a class="btn btn-primary pull-left btn-large" href="{{HOST_URL}}/account/register/">注册</a>
		</div>
              </fieldset>
	    </form>
	  </div>
	</div> 
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{JS_HOME}}login.js"></script>
{% endblock %}
