{% extends "/layout/frame.html" %}

{% block css %}
<link rel="stylesheet" href="{{CSS_HOME}}register.css" />
{% endblock %}

{% block body %}
<div id="homepage-banner" >
  <header id="paiketitle">排客方便生活</header>
</div>
<div id="registbody">
  <div class="container">
    <div class="row">
      <div class="span6">
	<a class="thumbnail">
	  <img height="300" width="500" src="{{IMG_HOME}}people.jpg"/>
	</a>
      </div>
      <div class="span6">
    <div class="table">
	<form id="register-form" class="form-horizontal">
	  <fieldset>
            <div class="control-group">
              <label for="email" class="control-label">邮箱地址</label>
              <div class="controls">
		<input type="text" placeholder="Example@example.com" name="email" class="input-xlarge focused"/>
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label">密码</label>
              <div class="controls">
		<input type="password" placeholder="*****" name="password"  class="input-xlarge focused"/>
              </div>
            </div>
            <div class="control-group">
              <label for="passwordagain" class="control-label">密码重复</label>
              <div class="controls">
		<input type="password" placeholder="*****" name="passwordagain" class="input-xlarge focused"/>
              </div>
            </div>
            <div class="control-group">
              <label for="sex" class="control-label">性别</label>
              <div class="controls">
		<select name="sex" class="input-xlarge">
                  <option>男</option>
                  <option>女</option>
		</select>
              </div>
            </div>
            <div class="control-group">
              <label for="birthday" class="control-label">出生年月</label>
              <div class="controls">
	           	<input type="date" name="birthday" class="input-xlarge"/>
              </div>
            </div>
            <div id="registbtnpos">
              <button class="btn btn-primary pull-left input-middle" type="submit">注册</button>
              <button class="btn pull-left input-middle">取消</button>
            </div>
          </fieldset>
	</form>
    </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{JS_HOME}}register.js"></script>
{% endblock %}
