<section class="span6 group-item">
  <div class="row">
    <div class="span2">
      <a class="thumbnail">
	<img src="{{IMAGE_HOME}}{{group.getPhoto()}}"/>
      </a>
    </div>
    <div class="span4">
      <header>
	<a class="label label-warning" href="{{HOST_URL}}/group/{{group.getId()}}/">{{group.getName()}}</a>
      </header>
      <passage>
	{{group.getDesp()|e}}
      </passage>
      <div class="group-buttons">
	<a class="join-group" data="{{group.getId()}}" href="#">加入小组</a>
	<a href="{{HOST_URL}}/group/{{group.getId()}}/">浏览小组</a>
      </div>
    </div>
  </div>
</section>
