<div class="span8">
  <ul class="nav nav-tabs">
    <li><a href="#info" data-toggle="tab">小组信息</a></li>
    {% if isMember %}
    <li><a href="#works" data-toggle="tab">工作</a></li>
    <li><a href="#schedules" data-toggle="tab">工作安排</a></li>
    {% endif %}
    {% if isLeader %}
    <li><a href="#gen-schedule" data-toggle="tab">排一把</a></li>
    {% endif %} 
  </ul>
  <div id="tab-content" class="tab-content">
    <div id="info" class="tab-pane">
      {% include "/Group/info.html" %}
    </div>
    {% if isMember %}
    <div id="works" class="tab-pane">
      {% include "/Work/index.html" %}
      <hr/>
      <button id="add-work" class="btn btn-primary pull-right">添加一个工作</button>
      <button id="save-time" class="btn btn-success pull-right">保存我的时间安排</button>
    </div>
    {% endif %}
    <div id="schedules" class="tab-pane">
      {% include "/Schedule/index.html" %}
    </div>
    {% if isLeader %}
    <div id="gen-schedule" class="tab-pane">
      {% include "/Schedule/gen_schedule.html" %}
      <hr/>
      <button id="save-schedule" class="btn btn-success pull-right">保存工作安排</button>
    </div>
    {% endif %}
  </div>
</div>
