<div class="group_profile_pos">
<div class="well span3 container">
	<div class="container">
		<div class="group_pl_pos">
			<ul class="group_list_title">List header</ul>
		</div>
		<ul >
		<div class="group_pl_plane">
			<div class="span1 container">
				<img  src="{{IMG_HOME}}photo.png" class="little_pic"/>
			</div>
			<div class="span2 container group_pl_user">
				<p class="group_pl_name">姓名: helloworld</p>
				<p class="group_pl_name">邮箱: hell@163.com</p>
			</div>
		</div>
		</ul>
	</div>
	<div class="container">
		<br/>
		<div class="group_pl_pos">
			<ul class="group_list_title">小组成员</ul>
		</div>
		<ul>
		<div class="group_pl_plane">
			<div class="span1 container">
				<img  src="{{IMG_HOME}}photo.png" class="little_pic"/>
			</div>
			<div class="span2 container group_pl_user">
				<p class="group_pl_name">姓名: helloworld</p>
				<p class="group_pl_name">邮箱: hell@163.com</p>
			</div>
		</div>
		</ul>
	</div>
</div>
</div>